@import "tailwindcss";

@theme {
  --color-primary: #04142c;
  --color-secondary: #ee2248;
}

@layer base {

  html,
  body {
    @apply bg-white text-[12pt] leading-[1.5] font-serif;
    font-family: 'Times New Roman', serif;
  }

  .print-page {
    @apply text-justify;
  }

  h1 {
    @apply text-[16pt] font-bold text-center;
  }

  h2 {
    @apply text-[14pt] font-bold text-center;
  }



  h1,
  h2,
  h3,
  h4,
  p,
  strong {
    line-height: 1.5
  }


  label,
  input,
  select,
  textarea {
    @apply block w-full text-[12pt];
  }

  label {
    @apply mb-2;
  }

  input:disabled,
  select:disabled,
  textarea:disabled {
    cursor: not-allowed;
  }
}

@layer utilities {
  .container {
    @apply px-4 sm:px-8 xl:max-w-[1200px] mx-auto;
  }

  .btn-primary {
    @apply bg-primary text-white font-medium py-2 px-4 rounded-sm hover:bg-secondary transition-colors cursor-pointer;
  }

  .section-title h1 {
    @apply text-[32px] lg:text-[48px] font-bold text-center mb-4;
  }

  .section-title span {
    @apply text-secondary;
  }

}

.cover-page strong {
  @apply block;
}

@media print {
  .print {
    display: none;
  }

  .print-page {
    page-break-after: always;
    break-after: page;
  }

  @page {
    size: A4;
  }
}